[submodule ".registry"]
	path = .registry
	url = https://github.com/akoyabio/universe
	shallow = true
	branch = HEAD
[submodule "UpSetR"]
	path = UpSetR
	url = https://github.com/hms-dbmi/UpSetR
	shallow = true
	registered = false
[submodule "rtree"]
	path = rtree
	url = https://github.com/akoyabio/rtree
	shallow = true
	registered = false
