[submodule ".registry"]
	path = .registry
	url = https://github.com/akoyabio/universe
	shallow = true
	branch = HEAD
[submodule "phenoptr"]
	path = phenoptr
	url = https://github.com/akoyabio/phenoptr
	shallow = true
	registered = true
[submodule "phenoptrReports"]
	path = phenoptrReports
	url = https://github.com/akoyabio/phenoptrReports
	shallow = true
	registered = true
[submodule "phenoptrExamples"]
	path = phenoptrExamples
	url = https://github.com/akoyabio/phenoptrExamples
	shallow = true
	registered = true
[submodule "rtree"]
	path = rtree
	url = https://github.com/akoyabio/rtree
	shallow = true
	registered = false
[submodule "vroom"]
	path = vroom
	url = https://github.com/r-lib/vroom
	shallow = true
	registered = false
